# Travis doesn't pass php 5.3 anymore, neither Omeka 2.1.
language: php

php:
  #- 5.2
  #- 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

env:
  #- OMEKA_BRANCH=stable-1.5
  #- OMEKA_BRANCH=stable-2.0
  #- OMEKA_BRANCH=stable-2.1
  - OMEKA_BRANCH=stable-2.2
  - OMEKA_BRANCH=stable-2.3
  - OMEKA_BRANCH=stable-2.4

before_script: 
  - ./travis_setup.sh
  #- export OMEKA_DIR=/home/travis/builds/scholarslab/NeatlineTime/omeka

script: ./travis_tests.sh


notifications:
  irc: "irc.freenode.org#slab"
