<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : phpunit.xml
    Created on : August 4, 2010, 12:51 PM
    Author     : Scholars' Lab
    Description:
        Set up a phpunit runner for Plugin.

        For explanation on the phpunit XML configuration, see
        http://www.phpunit.de/manual/current/en/appendixes.configuration.html
-->
<phpunit bootstrap="../../application/tests/bootstrap.php"
    convertErrorsToExceptions="true"
    convertWarningsToExceptions="true"
    colors="false"
    processIsolation="false"
    stopOnFailure="true"
    syntaxCheck="false">

    <testsuite name="Unit Tests">
        <file>tests/cases</file>
    </testsuite>

    <!-- Enable logging -->
    <logging>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true"
            highlight="true" lowUpperBound="35" highLowerBound="70" />
        <!-- <log type="coverage-xml" target="build/logs/coverage.xml" />
        <log type="json" target="build/logs/logfile.json"/>
        <log type="tap" target="build/logs/logfile.tap"/>
        <log type="junit" target="build/logs/logfile.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="build/logs/testdox.html"/>
        <log type="testdox-text" target="build/logs/testdox.txt"/> -->
    </logging>

    <!-- Selenium Configuration -->
    <!-- <selenium>
        <browser name="Firefox on Linux"
                 browser="*firefox /usr/lib/firefox/firefox-bin"
                 host="my.linux.box"
                 port="4444"
                 timeout="30000" />
    </selenium>-->
</phpunit>
