<phpunit bootstrap="../../../application/tests/bootstrap.php"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuite name="Neatline Time Tests">
        <file>AllTests.php</file>
    </testsuite>

    <logging>
      <log type="coverage-html"
        target="build/coverage"
        charset="UTF-8" yui="true"
        highlight="true"
        lowUpperBound="35"
        highLowerBound="70" />
    </logging>

</phpunit>
