/**
 * Default formatting for displaying the SIMILE timeline.
 */

/* Timeline container div */
.neatlinetime-timeline {
    height: 250px;
    margin-bottom: 20px;
    font-family:Verdana, sans-serif;
    border: 1px solid rgba(90,80,100, 0.5);
}

.neatlinetime-timeline .timeline-copyright {
    display:none;
}

.neatlinetime-timeline .timeline-band {
    background: #fff !important;
}
.neatlinetime-timeline .timeline-band-0 .timeline-ether-bg{
    background-color:rgba(90,80,100, 0.02);
    background: -moz-linear-gradient(top,  rgba(90,80,100,0) 0%, rgba(90,80,100,0.12) 80%, rgba(90,80,100,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,80,100,0)), color-stop(80%,rgba(90,80,100,0.12)), color-stop(100%,rgba(90,80,100,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(90,80,100,0) 0%,rgba(90,80,100,0.12) 80%,rgba(90,80,100,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(90,80,100,0) 0%,rgba(90,80,100,0.12) 80%,rgba(90,80,100,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(90,80,100,0) 0%,rgba(90,80,100,0.12) 80%,rgba(90,80,100,0.15) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(90,80,100,0) 0%,rgba(90,80,100,0.12) 80%,rgba(90,80,100,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005a5064', endColorstr='#265a5064',GradientType=0 ); /* IE6-9 */

    }
.neatlinetime-timeline .timeline-band-1 .timeline-ether-bg{
    background-color:rgba(90,80,100, 0.9);
    background: -moz-linear-gradient(top,  rgba(90,80,100,0.9) 0%, rgba(90,80,100,0.95) 50%, rgba(90,80,100,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(90,80,100,0.9)), color-stop(50%,rgba(90,80,100,0.95)), color-stop(100%,rgba(90,80,100,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(90,80,100,0.9) 0%,rgba(90,80,100,0.95) 50%,rgba(90,80,100,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(90,80,100,0.9) 0%,rgba(90,80,100,0.95) 50%,rgba(90,80,100,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(90,80,100,0.9) 0%,rgba(90,80,100,0.95) 50%,rgba(90,80,100,1) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(90,80,100,0.9) 0%,rgba(90,80,100,0.95) 50%,rgba(90,80,100,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e65a5064', endColorstr='#5a5064',GradientType=0 ); /* IE6-9 */


}

.neatlinetime-timeline .timeline-small-event-icon {
    background-color: #494544;
}

.neatlinetime-timeline .timeline-event-label {
    /*background: rgba(0,0,0, 0.05);*/
    font-family:Georgia, serif;
    font-size: 1.2em;
    color: rgba(0,0,0,0.6);
}

.neatlinetime-timeline .timeline-event-icon img {
    display:none;
}

.neatlinetime-timeline .timeline-event-icon {
    background: rgba(190, 160, 5, 0.75);
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.neatlinetime-timeline .timeline-band-1 .timeline-ether-highlight {
    background: rgba(255,255,255, 0.35);
}

.neatlinetime-timeline .timeline-band-1 .timeline-small-event-icon {
    background: rgba(240, 200, 15, 0.75);
}

.neatlinetime-timeline .timeline-date-label {
    color: rgba(0,0,0,0.3);
}

.neatlinetime-timeline .timeline-date-label-em {
    color:rgba(190, 160, 5, 0.75);
    font-weight:bold;
    height:1.5em !important;
}

.neatlinetime-timeline .timeline-band-1 .timeline-date-label {
    color: rgba(255,255,255,0.5);
}
.simileAjax-bubble-container * {
}

.simileAjax-bubble-container {
    margin:     0px;
    padding:    0px;
    border:     none;
    position:   absolute;
    z-index:    1000;

}

.simileAjax-bubble-innerContainer {

}

.simileAjax-bubble-contentContainer {

}

/*.simileAjax-bubble-border-left,
.simileAjax-bubble-border-left-pngTranslucent,
.simileAjax-bubble-border-right,
.simileAjax-bubble-border-right-pngTranslucent,
.simileAjax-bubble-border-top,
.simileAjax-bubble-border-top-pngTranslucent,
.simileAjax-bubble-border-bottom,
.simileAjax-bubble-border-bottom-pngTranslucent,
.simileAjax-bubble-border-top-left,
.simileAjax-bubble-border-top-left-pngTranslucent,
.simileAjax-bubble-border-top-right,
.simileAjax-bubble-border-top-right-pngTranslucent,
.simileAjax-bubble-border-bottom-left,
.simileAjax-bubble-border-bottom-left-pngTranslucent,
.simileAjax-bubble-border-bottom-right,
.simileAjax-bubble-border-bottom-right-pngTranslucent,
.simileAjax-bubble-arrow-point-left,
.simileAjax-bubble-arrow-point-left-pngTranslucent,
.simileAjax-bubble-arrow-point-right,
.simileAjax-bubble-arrow-point-right-pngTranslucent {
    display:none !important;
}*/
.simileAjax-bubble-arrow-point-up {
    position:   absolute;
    top:        -100px;
    width:      49px;
    height:     100px;
}
.simileAjax-bubble-arrow-point-up-pngTranslucent {
}

.simileAjax-bubble-arrow-point-down {
    position:   absolute;
    bottom:     -100px;
    width:      49px;
    height:     100px;
}
.simileAjax-bubble-arrow-point-down-pngTranslucent {
}


.simileAjax-bubble-close {

}
.simileAjax-bubble-close-pngTranslucent {
}