/* Changes to the relative paths in the background images */

.timeglider-pan-left {
  background-image:url("../javascripts/timeglider/js/timeglider/buttons/pan_left.png");
  margin-right:1px;
}

.timeglider-pan-right {
  background-image:url("../javascripts/timeglider/js/timeglider/buttons/pan_right.png");
}

.timeglider-filter-bt {
	margin-right:6px;
	background-image:url(../javascripts/timeglider/js/timeglider/buttons/filter.png);
}
.timeglider-list-bt {
	background-image:url(../javascripts/timeglider/js/timeglider/buttons/list.png);
}
.timeglider-tools-bt {
 	background-image:url(../javascripts/timeglider/js/timeglider/buttons/tools.png);
}

.timeglider-menu-modal .close-button {
	float:right;
	cursor:pointer;
	margin-right:-16px;
	margin-top:-16px;
	width:30px;
	height:30px;
	background-image:url(../javascripts/timeglider/js/timeglider/buttons/close.png);
}

.timeglider-menu-modal-point-right {
    width:20px;
    height:20px;
    background-image:url("img/menu-pointer-right.png");
    background-repeat:no-repeat;
    position:absolute;
    bottom:-20px;
    right:6px;
}

.timeglider-tick {
  /* defaults on arrival in ticks */
	position:absolute;
	height:30px;
	font-size:11px;
	background-color:#75a3c7; 
	/* A line as bg doesn't alter the width of the div!*/
	background-image:url("../javascripts/timeglider/js/timeglider/img/dotted.png");
	background-repeat:no-repeat;
}

.timeglider-menu-modal-point-right {
    width:20px;
    height:20px;
    background-image:url("../javascripts/timeglider/js/timeglider/img/menu-pointer-right.png");
    background-repeat:no-repeat;
    position:absolute;
    bottom:-20px;
    right:6px;
}
